<div class="sc-chat-window {{if  @isOpen 'opened' 'closed'}}">
  <Header
    @teamName={{@agentProfile.teamName}}
    @imageUrl={{@agentProfile.imageUrl}}
    @onClose={{@onClose}}
  />
  <MessageList
    @messages={{@messageList}}
    @imageUrl={{@agentProfile.imageUrl}}
  />
  <UserInput @showEmoji={{@showEmoji}} @onSubmit={{action @onUserInputSubmit}} />
</div>
