<form class="sc-user-input {{ if inputActive  'active' : '' }}">
  <textarea class="sc-user-input--text"
                onkeydown={{action handleKey}}
                onfocus={{action setActive}}
                onblur={{action unsetActive}}
  >{{message}}</textarea>
    <div class="sc-user-input--buttons">
    <div class="sc-user-input--button"></div>
    <div class="sc-user-input--button">
      {{#if @showEmoji }}
      <EmojiIcon @onEmojiPicked={{action _handleEmojiPicked  }} />
        {{/if}}
    </div>
    <div class="sc-user-input--button">
      <SendIcon @onSubmit={{action sendIconHandler }} />
    </div>
  </div>
</form>
