<div class="sc-message">
  <div class="sc-message--content {{if (eq @message.author 'me') 'sent' 'received' }}">
    <div class="sc-message--avatar" style="background-image: url('{{chatIconUrl}}')"></div>
    {{#if (eq @message.type 'text')}}
      <!-- Render text message -->
      <TextMessage @message={{@message}} />
    {{else}}
      <!-- Render emoji -->
      <EmojiMessage @message={{@message}} />
      {{/if}}
  </div>
</div>
